html, body {
    
    margin:0;
    padding:0;
    
    font-family: Arial;
    font-size:20px;
    
    width:100%;
    height:100%;
}

body {
    background-image: url("../images/grass.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

header {
    display: block;
    position: fixed;
    float:left;
    
    margin:0;
    padding: 0;
    padding-top:20px;
    padding-left:20px;
    
    width: calc(100% - 20px);
    height: 60px;
    
    background-color: #AAB;
    color: white;
}
/*Nav Starts*/
nav {
    display: block;
    position: fixed;
    float:left;
    
    width:100%;
    height:2.5em;
    
    top:80px;
    
    background-color: #222;
}
/*Nav Ends*/
.container, .background {
    display: block;
    position: fixed;
    top:130px;
    
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
   
    float: left;
    overflow: auto;
}

.background {
    position: fixed;
    background-color: darkgray;
    opacity: 0.7;
}


.left {
    display: block;
    
    width: 20%;
    height: 100%;
    
    margin: 0 auto;
    float: left;
    
    background-color: #666;
    opacity: 0.6;
    
    
    overflow:auto;
}

.names {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 20px;
    
    height: auto;
    
    list-style-type: none;
    line-height: 1.5em;
}

.content {
    display: block;
    
    width: 80%;
    max-width:960px;
    height: 100%;
    
    margin: 0 auto;
    
    float: left;
    
    background-color: transparent;
}

table, tr, th, td {
    
    margin:0;
    padding:10px;
    
    border: solid 1px #222;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    text-align: left;
    background-color: #666;
}

td {
    font-size: 0.7em;   
}

a {
    text-decoration: none;
    color:white;
}

/*Nav Starts*/
ul.navBar {
    display:block;
    height: 100%;
    
    width:40%;
    margin:0 auto;
    
    list-style-type: none;
    line-height: 2.5em;
}
/*Nav Ends*/
/*Nav Starts*/
ul.navBar li {
    display:block;
    width:50%;
    height: 100%;
    
    text-align: center;
    float:left;
}
/*Nav Ends*/
/*Nav Starts*/
ul.navBar li:hover {
    background-color: #444;
    cursor: pointer;
}    
/*Nav Ends*/
@media screen and (max-width: 640px)  {

    header {
        z-index:1000;
    }

    .container {
        position: relative;
        top:130px;
        z-index:100;
    }

    .left {        
        width: 100%;
        clear:both;
    }
    
    .content {
        width:100%;
    }

    .container {
        display: flex;
        flex-flow: column;
        
        width: 100%;
        height: auto;
        
        clear:both;
    }
    
    #box1 {order: 2;}
    #box2 {order: 1;}
    
    nav {
        z-index:1000;
    }
    /*Nav Starts*/
    ul.navBar {
        margin:0;
        
        width:100%;
        height:100%;
        background-color: #222;
    }
    /*Nav Ends*/
    /*Nav Starts*/
    ul.navBar li {
        margin:0;
        width:50%;
    }
    /*Nav Ends*/
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Address"; }
	td:nth-of-type(4):before { content: "Phone"; }
	td:nth-of-type(5):before { content: "Email"; }
}